.backToTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(255, 107, 107, 0.3);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    z-index: 999;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.backToTop:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #FF6B6B;
    align-items: center;
}

.backToTop:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.backToTop::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    font-size: 0px;
}

.backToTop:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}

@media (max-width: 568px) {
    .backToTop {
        bottom: 20px;
        right: 20px;
        width: 45px;
        height: 45px;
    }

    .backToTop:hover {
        width: 45px;
        border-radius: 50%;
    }

    .backToTop::before {
        display: none;
    }
}